NodeRedFlows.json
[
    {
        "id": "854b0581.515838",
        "type": "tab",
        "label": "SensorsToDomoticz",
        "disabled": false,
        "info": ""
    },
    {
        "id": "657204d2.e5fe4c",
        "type": "tab",
        "label": "TemperatureSetpoint",
        "disabled": false,
        "info": ""
    },
    {
        "id": "823ab6c9.6e0d7",
        "type": "mqtt-broker",
        "z": "",
        "name": "Server",
        "broker": "192.168.188.98",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3fc3152c.53486a",
        "type": "mqtt in",
        "z": "854b0581.515838",
        "name": "",
        "topic": "domoticz/in/ems-esp/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "823ab6c9.6e0d7",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "a2874e76.940268"
            ]
        ]
    },
    {
        "id": "a2874e76.940268",
        "type": "switch",
        "z": "854b0581.515838",
        "name": "Republish switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "domoticz/in/ems-esp/thermostat_data",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "domoticz/in/ems-esp/sensors",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "domoticz/in/ems-esp/tapwater_active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "domoticz/in/ems-esp/heating_active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "domoticz/in/ems-esp/boiler_data",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "ce73bbac.250538"
            ],
            [
                "3aae8f47.492ba8"
            ],
            [
                "c85232d7.1dd548"
            ],
            [
                "b85aae6e.fc6dc8"
            ],
            [
                "f59c59bf.4f35d8"
            ],
            []
        ]
    },
    {
        "id": "f725babb.0410e8",
        "type": "function",
        "z": "854b0581.515838",
        "name": "dataExtractSensors",
        "func": "var temp0 = msg.payload.temp_0;\nvar temp1 = msg.payload.temp_1;\nvar msgOut1 = {};\nvar msgOut2 = {};\nmsgOut1.payload = \"{\\\"idx\\\" : 1, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + temp0 + \"\\\"}\";\nmsgOut1.topic=\"domoticz/in\"\nmsgOut2.payload = \"{\\\"idx\\\" : 2, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + temp1 + \"\\\"}\";\nmsgOut2.topic=\"domoticz/in\"\nreturn [msgOut1, msgOut2];",
        "outputs": 2,
        "noerr": 0,
        "x": 1140,
        "y": 100,
        "wires": [
            [
                "f890f7cc.eacf9"
            ],
            [
                "f890f7cc.eacf9"
            ]
        ]
    },
    {
        "id": "3aae8f47.492ba8",
        "type": "json",
        "z": "854b0581.515838",
        "name": "JsonExtract_Sensors",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 880,
        "y": 100,
        "wires": [
            [
                "f725babb.0410e8"
            ]
        ]
    },
    {
        "id": "f890f7cc.eacf9",
        "type": "mqtt out",
        "z": "854b0581.515838",
        "name": "",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "823ab6c9.6e0d7",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce73bbac.250538",
        "type": "json",
        "z": "854b0581.515838",
        "name": "JsonExtract-ThermData",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 60,
        "wires": [
            [
                "10020cc5.6bc9d3"
            ]
        ]
    },
    {
        "id": "10020cc5.6bc9d3",
        "type": "function",
        "z": "854b0581.515838",
        "name": "dataExtract",
        "func": "var msgOutCur = {};\nvar msgOutSel = {};\nmsgOutCur.payload = \"{\\\"idx\\\" : 4, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + msg.payload.hc1.currtemp + \"\\\"}\";\nmsgOutCur.topic=\"domoticz/in\"\nmsgOutSel.payload = \"{\\\"idx\\\" : 3, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + msg.payload.hc1.seltemp + \"\\\"}\";\nmsgOutSel.topic=\"domoticz/in\"\nreturn [msgOutCur, msgOutSel];\n\n//{\"hc1\":{\"seltemp\":21,\"currtemp\":22.5,\"mode\":\"auto\"}}",
        "outputs": 2,
        "noerr": 0,
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "f890f7cc.eacf9"
            ],
            [
                "f890f7cc.eacf9"
            ]
        ]
    },
    {
        "id": "c85232d7.1dd548",
        "type": "json",
        "z": "854b0581.515838",
        "name": "JsonExtract_Rest",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "21d08552.d9643a"
            ]
        ]
    },
    {
        "id": "21d08552.d9643a",
        "type": "function",
        "z": "854b0581.515838",
        "name": "dataExtractTapwater",
        "func": "var value = msg.payload\nvar msgOut1 = {};\nmsgOut1.payload = \"{\\\"idx\\\" : 6, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + value + \"\\\"}\";\nmsgOut1.topic=\"domoticz/in\"\nreturn [msgOut1];",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 140,
        "wires": [
            [
                "f890f7cc.eacf9"
            ]
        ]
    },
    {
        "id": "b85aae6e.fc6dc8",
        "type": "json",
        "z": "854b0581.515838",
        "name": "JsonExtract_Rest",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 180,
        "wires": [
            [
                "825f6022.f41e"
            ]
        ]
    },
    {
        "id": "825f6022.f41e",
        "type": "function",
        "z": "854b0581.515838",
        "name": "dataExtractHeatingAct",
        "func": "var value = msg.payload\nvar msgOut1 = {};\nmsgOut1.payload = \"{\\\"idx\\\" : 5, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + value + \"\\\"}\";\nmsgOut1.topic=\"domoticz/in\"\nreturn [msgOut1];",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "f890f7cc.eacf9"
            ]
        ]
    },
    {
        "id": "f59c59bf.4f35d8",
        "type": "json",
        "z": "854b0581.515838",
        "name": "JsonExtract_Rest",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "5ae8dfb6.e504e8"
            ]
        ]
    },
    {
        "id": "5ae8dfb6.e504e8",
        "type": "function",
        "z": "854b0581.515838",
        "name": "dataExtractHeatingAct",
        "func": "msg.payload\nvar msgOutWWTemp = {};\nvar msgOutRetTmp = {};\nvar msgOutCurFLow = {};\nvar msgOutFlowTmp = {};\nmsgOutWWTemp.payload = \"{\\\"idx\\\" : 10, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + msg.payload.wWCurTmp + \"\\\"}\";\nmsgOutWWTemp.topic=\"domoticz/in\"\nmsgOutRetTmp.payload = \"{\\\"idx\\\" : 8, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + msg.payload.retTemp + \"\\\"}\";\nmsgOutRetTmp.topic=\"domoticz/in\"\nmsgOutCurFLow.payload = \"{\\\"idx\\\" : 7, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + msg.payload.wWCurFlow + \"\\\"}\";\nmsgOutCurFLow.topic=\"domoticz/in\"\nmsgOutFlowTmp.payload = \"{\\\"idx\\\" : 9, \\\"nvalue\\\" : 0, \\\"svalue\\\" : \\\"\" + msg.payload.curFlowTemp + \"\\\"}\";\nmsgOutFlowTmp.topic=\"domoticz/in\"\nreturn [msgOutWWTemp, msgOutRetTmp, msgOutCurFLow, msgOutFlowTmp];",
        "outputs": 4,
        "noerr": 0,
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "f890f7cc.eacf9"
            ],
            [
                "f890f7cc.eacf9"
            ],
            [
                "f890f7cc.eacf9"
            ],
            [
                "f890f7cc.eacf9"
            ]
        ]
    },
    {
        "id": "76ca563b.b1ffa8",
        "type": "mqtt in",
        "z": "657204d2.e5fe4c",
        "name": "",
        "topic": "domoticz/out/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "823ab6c9.6e0d7",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "7a8e6a72.1cf8bc"
            ]
        ]
    },
    {
        "id": "7a8e6a72.1cf8bc",
        "type": "json",
        "z": "657204d2.e5fe4c",
        "name": "JsonExtractThermostat",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "5edfcde3.422894"
            ]
        ]
    },
    {
        "id": "5edfcde3.422894",
        "type": "switch",
        "z": "657204d2.e5fe4c",
        "name": "",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "b1d0e5f2.87746"
            ]
        ]
    },
    {
        "id": "b1d0e5f2.87746",
        "type": "function",
        "z": "657204d2.e5fe4c",
        "name": "SetThermostat",
        "func": "//initialize if not yet existing global var\nvar sp_ = context.get('tempSetPoint') || 19;\nvar sp = Number(sp_);\nvar currValue = Number(msg.payload.svalue1);\n\nif(currValue != sp){\n    sp = currValue;\n    // store the value back\n    context.set('tempSetPoint',sp);\n\n    var msgOut = {};\n    msgOut.payload = currValue\n    msgOut.topic=\"domoticz/in/ems-esp/thermostat_cmd_temp1\"\n    return [msgOut];\n}else{\n    return [null];\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "2857761c.9f5c62"
            ]
        ]
    },
    {
        "id": "2857761c.9f5c62",
        "type": "mqtt out",
        "z": "657204d2.e5fe4c",
        "name": "MQTTOut",
        "topic": "domoticz/in/ems-esp/thermostat_cmd_temp1",
        "qos": "",
        "retain": "",
        "broker": "823ab6c9.6e0d7",
        "x": 1250,
        "y": 140,
        "wires": []
    }
]